.formTitle {
	position: absolute;
	top: 20%;
	right: 40%;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
}

.formWrapper {
	display: flex;
	flex-direction: column;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.formLabel {
	font-weight: 500;
	margin-bottom: 0.5rem;
	color: #333;
}

.formField {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
}

.formDropdown {
}

.submitButton {
	padding: 0.5rem;
	background-color: lightblue;
	border: 0.5px solid #ccc;
	border-radius: 0.25rem;
	color: #333;
	font-weight: 500;
	font-size: 0.875rem;
	cursor: pointer;
}
